:root {
    --primary-color: #003049; 
    --secondary-color: #fdf0d5; 
    --content-color: #8B8C89;
    --title-color: #274C77;
    --container-color: #E7ECEF;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

body {
    background-color: var(--primary-color, white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

h2 {
    font-family: var(--primary-font, sans-serif);
    color: white;
    align-self: flex-start;
    margin-left: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 2rem;
  padding: 2rem 0;
  font-family: var(--secondary-font, sans-serif);   
}

/* .github {
    border-radius: 80%;
    object-fit: fit;
    object-position: cover;
    transition: transform 0.5s ease;
} */

/* a:hover .github{
    transform: scale(1.1);
} */

/* .linkedin {
    transition: transform 0.5s ease;
} */

/* a:hover .linkedin{
    transform: scale(1.1);
} */

picture img {
    border-radius: 49%;
    object-position: cover;
    object-fit: fit;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.1);
    }
}

/* .email {
    border-radius: 49%;
    object-fit: cover;
    transition: transform 0.5s ease;
} */

/* a:hover .email{
    transform: scale(1.1);
} */

picture {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 85px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog {
    padding: 1rem;
    position: static;
    border: none;
    border-style: inset;
    font-family: var(--primary-font, sans-serif);
    background-color: var(--container-color, white);
}

fieldset {
    width: fit-content;
    font-family: var(--primary-font, sans-serif);
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    font-family: var(--primary-font, sans-serif);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}

.visit {
    background-color: #ddd;
    color: black;
}

.submit {
    font-family: var(--primary-font, sans-serif);
    border-radius: 8px;
    
    &:hover {
        background-color: gray;
    }
}

footer {
    padding: 0.5rem 0;
    bottom: 0;
    width: 99dvw;
    color: var(--title-color, black);
    font-family: var(--primary-font, sans-serif);
}
