:root {
    --primary-color: #003049; 
    --secondary-color: #fdf0d5; 
    --content-color: #8B8C89;
    --title-color: #274C77;
    --container-color: #E7ECEF;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

body {
    background-color: var(--primary-color);
}

.sanrio-card {
    background-color: var(--secondary-color);
    width: 300px;
    height: 350px;
    transition: 0.3s;
    border: 20px solid var(--secondary-color);
    border-radius: 8px;
    position: absolute;
    left: 60%;
    top: 20%;

    &:hover {
        box-shadow: 0 6px 16px 0 white;
        transform: scale(1.1);
    }
}

.portfolio-card {
    background-color: var(--secondary-color);
    width: 300px;
    height: 350px;
    transition: 0.3s;
    border: 20px solid var(--secondary-color);
    border-radius: 8px;
    position: absolute;
    left: 18%;
    top: 20%;

    &:hover {
        box-shadow: 0 6px 16px 0 white;
        transform: scale(1.1);
    }
}

h1 {
    position: absolute;
    left: 60px;
    top: 60px;
    font-family: var(--primary-font);
    color: white;
}

h3 {
    color: var(--title-color);
}

.btn {
    background-color: var(--container-color);
    font-family: var(--secondary-font);
    border-radius: 8px;
    font-size: 12px;
    margin-top: 40px;

    &:hover {
        background-color: lightblue;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}

img {
    border-radius: 8px;
}

.sanrio-container {
    padding: 2px 16px;
    font-family: var(--secondary-font);
    /* background-color: var(--container-color); */
}

.portfolio-container {
    padding: 2px 16px;
    font-family: var(--secondary-font);
    /* background-color: var(--container-color); */
}

nav {
    /* background-color: #dbe4ee; */
    position: absolute;
    /* height: fit-content; */
    top: 0.5rem;
    right: 5%;
    font-family: var(--primary-font, sans-serif);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}

.visit {
    background-color: #ddd;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99dvw;
    color: var(--title-color);
    font-family: var(--primary-font, sans-serif);
}