html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
    --primary-color: #003049; 
    --secondary-color: #fdf0d5; 
    --content-color: #8B8C89;
    --title-color: #274C77;
    --container-color: #E7ECEF;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

.top {
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: -1;
    position: absolute;

}

.split {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.bottom {
    left: 0;
    right: 0;
    height: 101vh;
    top: 100vh;
    /* grid-area */
    background-color: var(--secondary-color);
    position: absolute;
    z-index: -2;
}

.me img {
    position: absolute;
    right: 10%;
    top: 200px;
    border-radius: 50%;
    /* grid-column-start: 5;
    grid-row-start: 2; */
}

h1 {
    color: white; 
    position: absolute;
    top: 20rem;
    right: 35%;
    font-size: 35px;
    font-family: var(--primary-font, sans-serif);
    /* text-shadow: 0px 2px 5px; */
}

h2 {
    position: absolute;
    color: var(--title-color);
    top: 125%;
    left: 58%;
    font-family: var(--primary-font, sans-serif);
}

.about-me-container {
    color: var(--content-color);
    background-color: var(--container-color);
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: var(--secondary-font, sans-serif);
    padding: 40px 20px;
    /* area outside of box, position of box on page */
    margin: 61rem 50rem 20rem;
    border-radius: 10px;
    border: 6px solid var(--primary-color);
}

.prince img {
    top: 110%;
    right: 70%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.me-2 img {
    top: 125%;
    right: 50%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.prince-2 img {
    top: 145%;
    right: 70%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

footer {
    position: absolute;
    top: 195dvh;
    width: 100dvw;
    height: 2.5rem;
}

nav {
    /* background-color: #dbe4ee; */
    position: absolute;
    /* height: fit-content; */
    top: 0.5rem;
    right: 5%;
    font-family: var(--primary-font, sans-serif);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}