.top {
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #003049; 
    z-index: -1;
    position: absolute;
}

.bottom {
    left: 0;
    right: 0;
    height: 100vh;
    top: 100vh;
    background-color: #fdf0d5; 
    position: absolute;
    z-index: -2;
}

.me img {
    position: absolute;
    right: 10%;
    top: 200px;
    border-radius: 50%;
}

h1 {
    color: white; 
    position: absolute;
    top: 22rem;
    right: 35%;
    font-size: 35px;
    /* text-shadow: 0px 2px 5px; */
}

h2 {
    position: absolute;
    color: #274C77;
    top: 123%;
    left: 58%;
}

.about-me-container {
    color: #8B8C89;
    background-color: #E7ECEF;
    height: 50%;
    width: 30%;
    /* text-align: center; */
    /* area around content */
    padding: 40px 20px;
    /* area outside of box, position of box on page */
    margin: 60rem 50rem 20rem;
    border-radius: 10px;
}

.prince img {
    top: 120%;
    right: 70%;
    width: 200 px;
    height: 200 px;
    object-fit: cover;
    position: absolute;
    border-radius: 80%;
}

footer {
    position: absolute;
    top: 195vh;
    width: 100%;
    height: 2.5rem;
}

nav {
    /* background-color: #dbe4ee; */
    position: absolute;
    /* height: fit-content; */
    top: 0.5rem;
    right: 5%;
    /* transition: top 0.3s; */
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;
}

nav a:hover {
    background-color: #ddd;
    transition: background-color 0.6s ease;
    color: black;
}

nav a:link {
    text-decoration: none;
}